*
{
    margin: 0;
    padding: 0;
}
header
{
max-width: 10000px;
min-height: 10px;
background-color:white;
margin: 0 auto;

}
 header h1{
    font-family: 'Franklin Gothic Book', 'Arial Narrow', Arial, sans-serif;
 }

#menu
{
max-width: 10000px;
min-height: 30px;
background-color: #005883;


}
#menu ul {
list-style: none;
display: flex;
justify-content:space-around;


}
 #menu a {
     color: white;
     display: block;
     padding: 20px;
     text-decoration: none;
     background-color:#005883;
     font-family: 'Franklin Gothic Book', 'Arial Narrow', Arial, sans-serif;
     font-size: 20px;
     max-width: 10000px;
     
     

     
 }

 #menu ul ul
 {
     display: none;
     position: absolute;
    
 }

 #menu a:hover
 {
    background-color: #43C7F4;
    
 }

 #menu ul li:hover ul
 { 
 display: block;
 }







#contenido
{
    max-width: 10000px;
min-height: 250px;
background-color:white;
padding: 15px;
box-sizing: border-box;
}
#contenido p{
    margin: 10px;
    font-family: 'Franklin Gothic Book', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
     text-align: justify;
}
#contenido h1{
    margin: 10px;
    font-family: 'Franklin Gothic Book', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    text-align: center;
}
#contenido h2{
    margin: 10px;
    font-family: 'Franklin Gothic Book', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    text-align: justify;
}

#contenido h3{
    margin: 10px;
    font-family: 'Franklin Gothic Book', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    text-align: justify;
}
#contenido h4{
    margin: 10px;
    font-family: 'Franklin Gothic Book', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    text-align: justify;

}

#contenido ul li {
    margin: 10px;
    font-family: 'Franklin Gothic Book', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    text-align: justify;
    
}


.img
{
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    width: 300px;
}
.img2{
    float: right;
    display: block;
    margin-right: 10px;
    margin-bottom: 10px;
    width: 300px;
}
.img3
{
    float: right;
    margin-right: 10px;
    margin-bottom: 10px;
    width: 300px;
}

.img4
{

    margin-right: 10px;
    margin-bottom: 10px;
    width: 300px;

}
.img5{
    float: right;
    display: block;
    margin-right: 10px;
    margin-bottom: 10px;
    width: 200px;
}



footer{
    max-width: 10000px;
    min-height: 90px;
    margin: 0;
background-color: #005883;
  color: white;
  text-align: center;
  font-family: 'Franklin Gothic Book', 'Arial Narrow', Arial, sans-serif;
  padding: 10px;
}